#boton{
    background-color: #FF7F30;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

#userPhoto{
    border-radius: 50%;
}

#userName{
    font-weight: bold;
}