<section class="vh-100 bg-red">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card rounded-card">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block text-center align-self-center">
                            <img src="https://avatars.githubusercontent.com/u/117078911?s=400&u=caae581a8f57b73b6d4eddf8cbada763d476952b&v=4"
                                class="img-fluid rounded-image" />
                        </div>
                        <div class="col-md-6 col-lg-7">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <h1 class="mb-4 text-center">Inicio de sesión</h1>

                                <mat-form-field class="mb-4 w-100">
                                    <mat-label>Email</mat-label>
                                    <input matInput type="email" [(ngModel)]="email" 
                                           [ngModelOptions]="{standalone: true}" name="email"
                                           placeholder="yo@ejemplo.com" required 
                                           class="input-fun" />
                                </mat-form-field>

                                <mat-form-field class="mb-4 w-100">
                                    <mat-label>Contraseña</mat-label>
                                    <input matInput [type]="hide() ? 'password' : 'text'" [(ngModel)]="password" 
                                           [ngModelOptions]="{standalone: true}" name="password" 
                                           placeholder="Password" required 
                                           class="input-fun" />
                                    <button mat-icon-button matSuffix (click)="clickEvent($event)" 
                                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                                        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>

                                <div class="mb-4 text-center">
                                    <button mat-raised-button class="btn btn-dark btn-lg" 
                                            (click)="mostrarDatos($event)">Iniciar sesión</button>
                                </div>

                                <a class="small text-muted" href="">¿Olvidaste la contraseña?</a>
                                <p class="mb-5 pb-lg-2 text-primary">
                                    ¿No tienes una cuenta? <a href="" class="text-primary">Regístrate aquí</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
