<div class="container">
  <form #registroForm="ngForm" (ngSubmit)="onRegister()">
    <div class="form-group m-2">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" [(ngModel)]="usuario.nombre" required class="form-control" />
    </div>


    <div class="form-group m-2">
      <label for="apellidos">Apellidos:</label>
      <input type="text" id="apellidos" name="apellidos" [(ngModel)]="usuario.apellidos" required
        class="form-control" />
    </div>


    <div class="form-group m-2">
      <label for="dni">DNI:</label>
      <div class="input-group">
        <input type="number" id="dni" name="dni" [(ngModel)]="usuario.dni" (input)="calculateDniLetter()" required class="form-control"/>
        <div class="input-group-append">
          <span class="input-group-text">{{ letraDni }}</span>
        </div>
      </div>
    </div>


    <div class="form-group m-2">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="usuario.email" required class="form-control" />
    </div>


    <div class="form-group m-2">
      <label for="telefono">Teléfono:</label>
      <input type="tel" id="telefono" name="telefono" [(ngModel)]="usuario.telefono" required class="form-control" />
    </div>


    <div class="form-group m-2">
      <label>Sexo:</label>
      <select name="sexo" [(ngModel)]="usuario.sexo" required class="form-control">
        <option value="" disabled selected>Elija una opción...</option>
        <option value="masculino">Masculino</option>
        <option value="femenino">Femenino</option>
      </select>
    </div>

    <div class="form-group m-2">
      <label>¿Cómo nos conoció?</label>
      <select name="conocido" [(ngModel)]="usuario.conocimiento" required class="form-control">
        <option value="" disabled selected>Elija una opción...</option>
        <option value="google">Buscando en Google</option>
        <option value="amigo">A través de un amigo/familiar</option>
        <option value="profesor">Por mi profesor</option>
      </select>
    </div>


    <div class="form-group m-2">
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" [(ngModel)]="usuario.password" required
        class="form-control" />
    </div>


    <div class="form-group m-2">
      <label for="confirmPassword">Confirmar contraseña:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="usuario.confirmPassword" required
        class="form-control" />
    </div>

    <div class="form-group m-2">
      <label>
        <input type="checkbox" name="terms" [(ngModel)]="usuario.aceptarTerminos" required /> Acepto los términos y
        condiciones
      </label>
    </div>

    <div class="form-group m-2">
      <button type="submit" [disabled]="!registroForm.form.valid" class="form-control">Registro</button>
    </div>
  </form>

</div>