.imagenMasPopular{
    width: 400px;
    height: 400px;
    object-fit: contain;
    border-radius: 15px;
}
.fondoPagina{
    background-color: #398874;
}
.fondoDatos{
    background-color: #200B0B;
}