<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-4">
        <img src="" alt="">
        <!--<img [src]="'https://starwars-visualguide.com/assets/img/vehicles/' + getVehicleId(item.url) + '.jpg'" class="img-fluid rounded-start" alt="...">-->
        </div>
      <div class="col-6">
        <div class="card-body">
          <!--<h4 class="card-title">{{item.name}}</h4>-->
          <p class="card-text"></p>
          <p class="card-text"></p>
          <p class="card-text"></p>
          <p class="card-text"></p>
          <p class="card-text"></p>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
