<body>


  <div class="calculator">
    <div class="calculator-screen">
      <p>
        {{ operacion}}
      </p>
      <p>
        {{operando}}
      </p>
    </div>

    <button type="button" (click)="onNumberClick('7')" class="btn waves-effect">7</button>
    <button type="button" (click)="onNumberClick('8')" class="btn waves-effect">8</button>
    <button type="button" (click)="onNumberClick('9')" class="btn waves-effect">9</button>
    <button type="button" (click)="onNumberClick('C')" class="btn waves-effect disabled">C</button>
    <button type="button" (click)="onNumberClick('4')" class="btn btn-light waves-effect">4</button>
    <button type="button" (click)="onNumberClick('5')" class="btn btn-light waves-effect">5</button>
    <button type="button" (click)="onNumberClick('6')" class="btn btn-light waves-effect">6</button>
    <button type="button" class="btn" (click)="onOperadorClick('+')">+</button>
    <button type="button" (click)="onNumberClick('1')" class="btn btn-light waves-effect">1</button>
    <button type="button" (click)="onNumberClick('2')" class="btn btn-light waves-effect">2</button>
    <button type="button" (click)="onNumberClick('3')" class="btn btn-light waves-effect">3</button>
    <button type="button" class="btn" (click)="onOperadorClick('-')">-</button>
    <button type="button" (click)="onNumberClick('0')" id="cero" class="btn waves-effect">0</button>
    <button type="button" class="btn" (click)="onNumberClick('.')">.</button>
    <button type="button" class="all-clear btn" (click)="onClear()">AC</button>
    <button type="button" id="igual"  class="btn" (click)="calculate()">=</button>
  </div>
</body>
<router-outlet />