
<div class="container-fluid">
    <div class="row mt-2 mb-2">
        @for(item of listadoVehiculos; track item.url) {
        <div class="col-md-3 col-12">
            <a href>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>

                    </div>
                </div>
            </a>
        </div>
    </div>
</div>