<div class="container-fluid">
    <div class="row mt-2 mb-2">
        @for (item of listadoVehiculos; track $index) {
        <div class="col-3">
            <div class="card">
                <a href ="" >
                    <img
                        class="card-img-top img-fluid"
                        [src]="'https://starwars-visualguide.com/assets/img/vehicles/' + getVehicleId(item.url) + '.jpg'"
                        alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title fc-light">{{ item.name }}</h5>
                    </div>
                </a>
            </div>
        </div>}
    </div>
</div>
