<div id="container">
    <div id="footer" class="d-flex justify-content-between">
        <div class="col-4">
            <img src="assets/img/pop-films-light.png" alt="Popfilms logo" width="10%">
            <p class="title">PopFilms</p>
            <p>Es una página web que contiene toda la información sobre peliculas, series y actores.
                Cuenta con valoraciones reales de los usuarios y próximos estrenos.
                Todo esto es posible haciendo uso de la API de The Movie Database.
                <a target="_blank" class="enlace" href="https://www.themoviedb.org/?language=es">TMDB</a>
            </p>

        </div>

        <div class="col-4">
            <div class="col-12">
                <p class="title">Redes Sociales</p>
            </div>
            <div class="col-12 d-flex">
                <div class="col-6">
                    <a target="_blank" class="enlace" href="https://www.instagram.com/">Instagram</a>
                    <br>
                    <br>
                    <a target="_blank" class="enlace" href="https://www.facebook.com/?locale=es_ES">Facebook</a>
                    <br>
                    <br>
                    <a target="_blank" class="enlace" href="https://www.tiktok.com/login?lang=es&redirect_url=https%3A%2F%2Fwww.tiktok.com%2Fupload%3Flang%3Des">TikTok</a>  
                </div>
                <div class="col-6">
                    <a target="_blank" class="enlace" href="#">Sobre Nosotros</a>
                    <br>
                    <br>
                    <a target="_blank" class="enlace" href="#">Support</a>
                    <br>
                    <br>
                    <a target="_blank" class="enlace" href="https://www.themoviedb.org/?language=es">TMDB</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <p class="title">Suscríbete a nuestra página:</p>
            <div id="subs">
                <input type="email" placeholder="Introduce tu Email">
                <button id="boton">Enviar</button>
            </div>
        </div>
    </div>
</div>

