
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-logo" href="#">
        <img src="assets/img/pop-films-dark.png" width="60px" height="60px"
          alt="PopFilms">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Películas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Series</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Actores</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-2 d-flex justify-content-end">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar"
            aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0"
            type="submit">Buscar</button>
        </form>
      </div>
    </nav>
  </header>
  <main class="main">
    <section class="aside">
      <aside>
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
              <mat-panel-title> Fecha de estreno </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <label for="fechaInicio">Desde</label>
              <input type="date" name="fechaInicio" id="fechaInicio">
            </div>
            <div>
              <label for="fechaInicio">Hasta</label>
              <input type="date" name="fechaFinal" id="fechaFinal">
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </aside>
    </section>

    <section class="peliculas">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top"
          src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/b0obWWCLRVRqRzlSK1LSGtADkLM.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h4>Venom: El último baile <span>(2024)</span></h4>
          <p class="card-text">Hasta que la muerte los separe.</p>
        </div>
      </div>
    </section>
  </main>
</body>
