
    <div class="d-flex fondoPagina">
          <app-filtro-serie></app-filtro-serie>

        <div class="container mt-4 me-5">
            <div class="container mt-4 p-4 rounded bg-light rounded-3">
                <!-- Serie más popular -->
                <div class="card w-100 border-0 bg-light rounded-2">
                    <div class="row g-0">
                        <!-- Información de la serie -->
                        <div class="col-6 d-flex flex-column justify-content-center p-4">
                            <div class="d-flex mx-auto mb-3">
                                <h1 class="fw-bold">{{serieMasPopular?.name}}</h1>

                                <a class="mb-3" (click)="verTrailer(serieMasPopular)">
                                    <button mat-fab class="ms-3 bg-light w-100 ms-5">Ver Tráiler
                                        <span>
                                            <mat-icon style="line-height: 37px;" fontIcon="keyboard_arrow_right">
                                            </mat-icon>
                                        </span>
                                    </button>
                                </a>
                            </div>
                            <p class="fs-4">{{serieMasPopular?.overview}}</p>
                            <a [href]="'detalle-serie/'+serieMasPopular?.id" class="btn btn-warning px-4 py-2 fw-bold rounded-1">Ver ficha</a>
                        </div>

                        <!-- Imagen de la serie -->
                        <div class="col-6 d-flex justify-content-center align-items-center">
                            <img class="imagenMasPopular w-100"
                            [src]="serieMasPopular?.poster_path ? (serieMasPopular!.poster_path! | poster) : 'assets/img/ImagenNoEncontrada.jpg'"
                            alt="{{serieMasPopular?.name}}">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Lista de series -->
            <div class="row mt-5">
                @for(serie of listaSeries; track listaSeries.indexOf(serie)) {
                <div class="col-sm-6 col-md-4 col-lg-2 mb-4 shadow">
                    <div class="card h-100 text-center colorFondo">
                    <a [href]="'serie/'+serie.id">
                        <img class="card-img-top"
                        [src]="serie?.poster_path ? (serie!.poster_path! | poster) : 'assets/img/ImagenNoEncontrada.jpg'"
                        alt="{{serieMasPopular?.name}}">
                    </a>
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-start fw-bolder">{{serie.name}}</h5>
                            <p class="text-start">{{serie.first_air_date | date:'dd/MM/yyyy'}}</p>
                            <p>{{(serie.vote_average/2).toFixed(2)}}</p>
                            <ngb-rating class="fs-5" [readonly]="true" [rate]="serie.vote_average / 2" [max]="5" [ngClass]="getColorEstrellas(serie.vote_average / 2)"></ngb-rating>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>

